ul.down_menu {
    list-style: none;
    border-top: 1px solid #114477;
    padding: 9px;
    background: rgb(45, 112, 97);

}

ul.down_menu li {
    margin:0 auto;
    display: inline-block;
}

ul.down_menu li a {
    color: #fefefe;
    text-decoration: none;
    background: rgb(45, 112, 97);
    margin: 0;
    padding: 5px 4px 10px 2px;
    font-weight: bold;
    font-size: small;
}


ul.down_menu li a.red-selected {
     color: #fefefe;
     background: #bb0000;
     border: 1px #cc0000 solid;
     border-bottom: 1px solid #bb0000;
     border-left: 1px solid #770000;
     padding: 11px 9px 9px 11px
}

ul.down_menu li a.dark-selected {
    color: #fefefe;
    background: #000000;
    border: 1px #000000 solid;
    padding: 11px 9px 9px 11px
}