ul.down_menu {
    list-style: none;
    border-top: 1px solid #114477;
    padding: 11px;
    background: rgb(45, 112, 97)
}

ul.down_menu li {
    display: inline
}

ul.down_menu li a {
    color: #fefefe;
    text-decoration: none;
    background: rgb(45, 112, 97);
    margin: 0;
    padding: 10px 2px 10px 8px;
    font-weight:bold;
    font-size: medium;
}


ul.down_menu li a.selected {
    color: #fefefe;
    background: #bb0000;
    border: 1px #cc0000 solid;
    border-bottom: 1px solid #bb0000;
    border-left: 1px solid #770000;
    padding: 10px 20px 10px 14px
}